  <table class="table table-striped">
    <% for breed in Breed.all %>
        <tr>
          <td>
            <%= breed.type %> - <%= breed.name %>
          </td>
          <td>
            <a href="/breed/<%= breed.id %>">muuda</a>
          </td>
        </tr>
    <% end %>
  </table>

  <form action="/breed" method="post">
    <fieldset>
      <legend>Lisa/muuda tõug</legend>
      <input type="hidden" name="id" value="<%= @breed.id if @breed %>"/>
      <label for="breed-name">Liik</label><input type="text" name="type" value="<%= @breed.type if @breed %>"/>
      <label for="breed-name">Tõug</label><input type="text" name="name" value="<%= @breed.name if @breed %>"/>
      <input type="submit"/>
    </fieldset>
  </form>
