<h1>Tere!</h1>
<p>Arvan ära arvu 1..100. Mõtle see valmis.</p>

<form method="post">
  <% if @correct %>
    <h2>Vägev!</h2>
    <input type="submit" name="start" value="Proovi veel!"/>
  <% elsif @answer %>
    <h2>Minu pakkumine on <%= @answer %>. Kas on õige?</h2>
    <input type="submit" name="less" value="Vähem!"/>
    <input type="submit" name="more" value="Rohkem!"/>
    <input type="submit" name="correct" value="Õige!"/>
  <% else %>
      <input type="submit" name="start" value="Mõeldud!"/>
  <% end %>
</form>