<html xmlns="http://www.w3.org/1999/html">
<head><title>Lemmikloomad</title></head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">

<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>